{
    "presets": [ [
        "@babel/env", 
        {
            "debug": true,
            "modules": false,
            "corejs": 3,
            "useBuiltIns": "usage"
            // "useBuiltIns": "entry"
        } ],

        "@babel/react"
        
    ],

    "plugins": [
        "@babel/proposal-class-properties"
    ]

}